//general
$fontSize:14px !default;
$fontFamily:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$transitionDuration:.15s !default;
$letterSpacing:normal !default;
$borderRadius:4px !default;
$mobileBreakpoint:991px !default;
$phoneBreakpoint:576px !default;
