@import 'layout_common';

$bodyBgColor:#eceff4 !default;
$textColor:#4c566a !default;
$textSecondaryColor:#9199a9 !default;

$topbarBgColor:#eceff4 !default;
$breadcrumbBgColor:#d8dee9 !default;
$contentBgColor:#ffffff !default;
$contentAltBgColor:#f9fafb !default;
$contentAltBorderColor:#e5e9f0 !default;
$dividerColor:rgba(145,153,169,0.3) !default;
$menuShadow:3px 0 5px 0 rgba(33, 35, 39, 0.15) !default;
